<div class="container">
    <br/>
    <h3>Using a Bootstrap Dropdown Button as select (<a target="_blank" href="https://stackoverflow.com/questions/50938283/how-display-selected-item-from-bootstrap-4-drop-down-item-menu/50997271">source that worked</a>) </h3>


    <h5>This did not work: (<a target="_blank" href="https://www.codeply.com/go/NWwzFSAUVu/bootstrap-4-dropdown-as-select-button-group">source</a>)</h5>
    <br/>

    <script src="/dependencies/jquery.min.js"></script>

    <h3 class="display-4" style="font-size: 1.5rem;">Select country of origin</h3>
    <div class="dropdown">
        <div class="input-group ">
            <div class="input-group-btn">
                <button class="btn btn-outline-primary btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a country
                </button>

                <div class="dropdown-menu" onchange="selectMenu1" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data="denmark">Denmark</a>
                    <a class="dropdown-item" href="#" data="usa"> USA</a>
                    <a class="dropdown-item" href="#" data="netherlands">Netherlands</a>
                    <a class="dropdown-item" href="#" data="germany"> Germany</a>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(".dropdown-menu a ").click(function(){
            $(this).parents(".input-group-btn").find('.btn').text($(this).text());
        });
    </script>

    <br/><br/><br/>

    Note: <span class="alert-warning">What remains interesting is that a specific jquery import is necessary.</span><br/>


</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
