<div class="container">
    <br/>
    <h3>Development in progress</h3>
    <br/><br/><br/>

    <div>
        <h5>Status</h5>
        <div>
            <span class="alert-primary">Implementation to be started.</span><br/><br/>
        </div>
    </div>

    <br/><br/><br/><br/>

    <hr/>
    <div>
        <h5>Colors</h5>
        <div>
            <span class="alert-primary"><i>alert-primary</i></span><br/>
            <span class="alert-secondary"><i>alert-secondary</i></span><br/>
            <span class="alert-success"><i>alert-success</i></span><br/>
            <span class="alert-warning"><i>alert-warning</i></span><br/>
            <span class="alert-danger"><i>alert-danger</i></span><br/>
            <span class="alert-light"><i>alert-light</i></span><br/>
            <span class="alert-dark"><i>alert-dark</i></span><br/>

        </div>
    </div>

    <br/><br/>

    <hr/>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
