<div class="container">
    <br/>
    <h3>Development in progress</h3>
    <br/><br/><br/>

    <h5>Task: Using a Bootstrap Dropdown Button as select (<a target="_blank" href="https://www.codeply.com/go/NWwzFSAUVu/bootstrap-4-dropdown-as-select-button-group">source</a>)</h5>
    <br/>
    <label for="sel1">Select a country:</label><br/>
    <div class="btn-group">
        <div class="dropdown">
            <button id="category-button" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                Select a Country <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Nederland</a>
                <a class="dropdown-item" href="#">USA</a>
                <a class="dropdown-item" href="#">Denmark</a>
                <a class="dropdown-item" href="#">France</a>
                <a class="dropdown-item" href="#">Italy</a>
                <a class="dropdown-item" href="#">Spain</a>
                <a class="dropdown-item" href="#">Portugal</a>
            </div>
        </div>
    </div>

    <script>
        var $ = document.getElementById;
        $(".dropdown-menu a").click(function()
        {
            var selText = $(this).text();
            $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
        });
    </script>

    <br/><br/><br/><br/>

    <div>
        <h5>Status</h5>
        <div>
            <span class="alert-danger">Button value does not update after selection, which it should.</span><br/><br/>
        </div>
    </div>

    <br/><br/><br/><br/>

    <hr/>
    <div>
        <h5>Colors</h5>
        <div>
            <span class="alert-primary"><i>alert-primary</i></span><br/>
            <span class="alert-secondary"><i>alert-secondary</i></span><br/>
            <span class="alert-success"><i>alert-success</i></span><br/>
            <span class="alert-warning"><i>alert-warning</i></span><br/>
            <span class="alert-danger"><i>alert-danger</i></span><br/>
            <span class="alert-light"><i>alert-light</i></span><br/>
            <span class="alert-dark"><i>alert-dark</i></span><br/>

        </div>
    </div>

    <br/><br/>

    <hr/>
</div>
