<div class='container' id='quill-edit-page' >
    <br/>
    <h3>Quill autosave example</h3>
    <br/>
    <div>
        <h5>Status</h5>
        <div>
            <span class="alert-primary">Implementation finished.</span><br/><br/>
        </div>
    </div>

    <br/>

    <div style="min-height:300px">
        <h4>Quill editor</h4>
        Works:
         <quill-editor content="<%=content%>" itemId="<%=itemId%>" ></quill-editor>
        <br/>
        Does not work:
<!--        <quill-editor v-model="{content: content, pageId: itemId} " ></quill-editor>&ndash;&gt;-->

    </div>
    <br/>

    <br/><br/><br/>

    <div>
        <H3>Useful links.</H3>
        <a href="https://stackoverflow.com/questions/42541353/how-do-i-retrieve-the-contents-of-a-quill-text-editor/42541886#42541886">https://stackoverflow.com/questions/42541353/how-do-i-retrieve-the-contents-of-a-quill-text-editor/42541886#42541886</a>
        <a href="https://codepen.io/quill/pen/RRYBEP">https://codepen.io/quill/pen/RRYBEP</a>
        <ul>
            <li>https://stackoverflow.com/questions/50123460/sails-1-0-post-route-gives-403-error</li>
            <li>https://stackoverflow.com/questions/56659815/what-are-my-options-when-it-comes-to-saving-and-reloading-data-with-quill-js</li>
            <li>https://stackoverflow.com/questions/55454947/how-can-i-store-composed-changes-using-quill</li>
        </ul>
    </div>

    <hr/>
    <div>
        <h5>Colors</h5>
        <div>
            <span class="alert-primary"><i>alert-primary</i></span><br/>
            <span class="alert-secondary"><i>alert-secondary</i></span><br/>
            <span class="alert-success"><i>alert-success</i></span><br/>
            <span class="alert-warning"><i>alert-warning</i></span><br/>
            <span class="alert-danger"><i>alert-danger</i></span><br/>
            <span class="alert-light"><i>alert-light</i></span><br/>
            <span class="alert-dark"><i>alert-dark</i></span><br/>

        </div>
    </div>

    <br/><br/>

    <hr/>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
