<div id='quillpage' class='container'>
    <br/>
    <h3>Quill autosave example</h3>
    <br/>
    <div>
        <h5>Status</h5>
        <div>
            <span class="alert-primary">Implementation started.</span><br/><br/>
            <a href="https://stackoverflow.com/questions/42541353/how-do-i-retrieve-the-contents-of-a-quill-text-editor/42541886#42541886">https://stackoverflow.com/questions/42541353/how-do-i-retrieve-the-contents-of-a-quill-text-editor/42541886#42541886</a>
            <a href="https://codepen.io/quill/pen/RRYBEP">https://codepen.io/quill/pen/RRYBEP</a>
        </div>
    </div>

    <br/><br/>


    <div style="min-height:300px">
        <h4>Quill editor / remember csrf</h4>

         <quill content="<%=content%>"></quill>

    </div>
    <br/>
    <div class="row">
        <div class="col-1">Status:</div>
        <div class="col-3">Saved (to be implemented)</div>
    </div>

    <br/><br/><br/>

    <hr/>
    <div>
        <h5>Colors</h5>
        <div>
            <span class="alert-primary"><i>alert-primary</i></span><br/>
            <span class="alert-secondary"><i>alert-secondary</i></span><br/>
            <span class="alert-success"><i>alert-success</i></span><br/>
            <span class="alert-warning"><i>alert-warning</i></span><br/>
            <span class="alert-danger"><i>alert-danger</i></span><br/>
            <span class="alert-light"><i>alert-light</i></span><br/>
            <span class="alert-dark"><i>alert-dark</i></span><br/>

        </div>
    </div>

    <br/><br/>

    <hr/>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
